# Config management for variables and parameter
hydra-core==1.3.2
omegaconf==2.3.0
dvc
pytest
torch
torchvision
mlflow==3.10.0
dvc-s3
matplotlib==3.10.7
numpy==2.3.5
opencv_python==4.12.0.88
tensorflow==2.20.0
