# Config management for variables and parameter
# Install pip-tools and then use pip-compile for more stable dependencies (trust)
hydra-core
omegaconf
dvc
pytest
torch
torchvision
mlflow
dvc-s3
matplotlib
numpy
opencv_python
tensorflow
deepspeed
